{% extends 'catalog/base.html'%}
{% load my_tags %}

{% block description%}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ category.name }}</h1>
    <p class="lead">{{ category.description }}</p>
</div>
{% endblock%}

{% block content%}
<div class="row text-center">
    {% for product in products_by_category %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                {% if product.image %}
                <img src="{{ product.image | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <h1 class="card-title pricing-card-title">{{ product.name }}</h1>
                <h2>{{ product.price }} руб.</h2>
                <p>{{ product.description|truncatechars:100 }}</p>
                <p><small class="text-muted">{{ product.category.name }}</small></p>
                <a class="btn btn-lg btn-block btn-outline-primary" 
                   href="{% url 'catalog:product_detail' product.pk %}" 
                   role="button">Подробнее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info">
            {% if category %}
            В категории "{{ category.name }}" пока нет товаров.
            {% else %}
            Товаров пока нет.
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}