{% extends 'catalog/base.html'%}
{% load my_tags %}

{% block description%}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Удаление товара</p>
</div>
{% endblock%}

{% block content%}
<p>Вы действительно хотите удалить '{{ product.name }}'?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{% url 'catalog:catalog' %}" class="btn btn-primary">Отменить</a>
</form>
{% endblock%}